<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>ITP自动化测试平台</title>
</head>
<body role="document">
<!--导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <ul class="nav justify-content-center">
            <li><a style="color: white" href="/webcase_manage/">web测试用例</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color: white" href="/webcasestep_manage/">web测试用例步骤</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-link"><a style="color: white" href="#">{{user}}</a></li>
            <li class="nav-link"><a style="color: white" href="/logout/">退出</a></li>
        </ul>
    </div>
</nav>
<!--搜索-->
<div class="page-header" style="padding-top: 70px;">
    <form class="navbar-form" method="get" action="/webcase_search/">
        {% csrf_token %}
        &nbsp; &nbsp; &nbsp; &nbsp;
        <input type="search" name="web_case_name" placeholder="名称" required>
        <button type="submit">搜索</button>
    </form>
</div>
<!--web测试用例列表-->
<div class="row" style="padding-top: 70px">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>ID</td>
                <td>产品</td>
                <td>测试用例名称</td>
                <td>测试结果</td>
                <td>测试负责人</td>
                <td>时间</td>
                <td>测试用例步骤</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for web_case in web_cases %}
                <td>{{web_case.id}}</td>
                <td>{{web_case.Product.product_name}}</td>
                <td>{{web_case.web_case_name}}</td>
                <td>{{web_case.web_test_result}}</td>
                <td>{{web_case.web_tester}}</td>
                <td>{{web_case.create_time}}</td>
                <td><a href="#"> {{web_case.web_case_step}}</a></td>
                <td>{{web_case.web_case_step}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--翻页-->
<div style="position: absolute;right: 100px;bottom: 30px;">
    <div class="container">
        <ul class="pagination" id="pager">
            {# 上一页链接开始 #}
            {% if web_cases.has_previous %}
            {# 如果有上一页,则正常展示上一页链接 #}
            <li class="previous"><a href="/webcase_manage/?page={{web_cases.previous_page_number}}">上一页</a></li>
            {# 上一页标签 #}
            {% else %}
            <li class="previous disabled"><a href="#">上一页</a></li>
            {# 如果当前不存在上一页,则上一页的链接不可点击 #}
            {% endif %}
            {# 上一页链接结束 #}
            &nbsp;&nbsp;
            {% for num in web_cases.paginator.page_range %}
            {% if num == currentPage %}
            <li class="item active"><a href="/webcase_manage/?page={{ num }}">{{ num }}</a></li>
            {#显示当页数链接#}
            {% else %}
            <li class="item"><a href="/webcase_manage/?page={{ num }}">{{ num }}</a></li>
            {% endif %}
            &nbsp;&nbsp;
            {% endfor %}
            {# 下一页链接开始 #}
            {% if web_cases.has_next %}
            {# 如果有下一页,则正常展示下一页链接 #}
            <li class="next"><a href="/webcase_manage/?page={{web_cases.next_page_number}}">下一页</a></li>
            {# 下一页标签 #}
            {% else %}
            <li class="next disabled"><a href="#">下一页</a></li>
            {# 如果当前不存在下一页,则下一页的链接不可点击 #}
            {% endif %}
            {# 下一页链接结束 #}
        </ul>
    </div>
</div>
</body>
</html>