<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>ITP自动化测试平台</title>
</head>
<body role="document">
<!--导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <ul class="nav justify-content-center">
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-link"><a style="color: white" href="#">{{user}}</a></li>
            <li class="nav-link"><a style="color: white" href="/logout/">退出</a></li>
        </ul>
    </div>
</nav>
<!--流程测试步骤-->
<div class="row" style="padding-top: 70px">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>所属产品</td>
                <td>所属用例</td>
                <td>步骤</td>
                <td>定位方式</td>
                <td>控件元素</td>
                <td>操作方法</td>
                <td>测试数据</td>
                <td>验证数据</td>
                <td>测试结果</td>
                <td>时间</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for app_case_step in app_case_steps %}
                <td>{{app_case_step.AppCase.Product.product_name}}</td>
                <td>case{{app_case_step.AppCase.id}}:{{app_case_step.AppCase.app_case_name}}</td>
                <td>{{app_case_step.app_test_step}}:{{app_case_step.app_test_objname}}</td>
                <td>{{app_case_step.app_find_method}}</td>
                <td>{{app_case_step.app_ev_element}}</td>
                <td> {{app_case_step.app_opt_method}}</td>
                <td>{{app_case_step.app_test_date}}</td>
                <td>{{app_case_step.app_assert_data}}</td>
                <td>{% if app_case_step.app_test_result == 1 %}
                    <a style="color: green"> {{app_case_step.app_test_result}}</a>
                    {% else %}
                    <a style="color: red"> {{app_case_step.app_test_result}}</a>
                    {% endif %}
                </td>
                <td>{{app_case_step.create_time}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>